[Unit]
Description=webapp.js - making your environment variables rad
Documentation=https://example.com
After=network.target   

[Service]
Environment="NODE_PORT=3030"
EnvironmentFile=/etc/environment
User=ec2-user
Environment=DB_PORT=%i
Environment=DB_USERNAME=%i
Environment=DB_PASSWORD=%i
Environment=DB_NAME=%i
Environment=DB_HOSTNAME=%i
WorkingDirectory=/home/ec2-user/webapp
Type=simple
User=ec2-user
ExecStart=/usr/bin/node app.js
Restart=on-failure

[Install]
WantedBy=default.target
